@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic,600italic,700italic);
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #6b7075;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia';
  text-transform: uppercase;
}
h2 {
  font-size: 15px;
}
.border-top {
  border-top: 1px dotted #6b7075;
  padding-top: 10px;
}
.navigation {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .navigation {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navigation .menu-toggle {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.navigation a {
  color: #f5f5f5;
  font-weight: 300;
  letter-spacing: 0.02em;
  display: block;
  text-align: left;
}
@media (min-width: 768px) {
  .navigation a {
    padding: 0;
  }
}
.navigation ul {
  margin-left: 0;
}
.navigation ul.nav-justified {
  position: relative;
  margin-bottom: 0;
  display: none;
}
@media (min-width: 768px) {
  .navigation ul.nav-justified {
    display: block;
  }
}
.navigation ul.nav-justified > li {
  padding-top: 0;
  padding-bottom: 10px;
}
.navigation ul.nav-justified a {
  text-align: left;
}
@media (min-width: 768px) {
  .navigation ul {
    margin-left: -5px;
  }
}
.navigation ul li {
  padding: 10px 0;
  display: block;
}
@media (min-width: 768px) {
  .navigation ul li {
    display: table-cell;
    padding: 10px 5px;
  }
}
.navigation ul li:hover > .submenu {
  display: block;
}
.navigation ul li.active > a {
  font-weight: 400;
}
.navigation ul li.active > .submenu {
  display: block;
}
.navigation ul li .submenu {
  display: none;
  left: 0;
  width: 100%;
  background: #6b7075;
  margin-top: 10px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}
.navigation ul li .submenu .container {
  padding: 0;
}
@media (min-width: 768px) {
  .navigation ul li .submenu .container {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .navigation ul li .submenu {
    position: fixed;
  }
}
@media (min-width: 768px) {
  .navigation ul li .submenu {
    border-bottom: none;
  }
}
.navigation ul li .submenu a {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .navigation ul li .submenu a {
    padding: 0;
  }
}
.navigation ul li .submenu .submenu {
  color: #6b7075;
  background: #c0c0c0;
}
header {
  background: #6b7075;
  color: #f5f5f5;
  padding-top: 20px;
}
header .claim {
  text-transform: uppercase;
  color: #c0c0c0;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}
.content {
  padding-top: 80px;
}
.content ul.news li {
  border-top: 1px dotted #6b7075;
  padding: 10px 0;
}
.content .table tbody tr td {
  border: none;
  line-height: 20px;
}
.content .table span {
  font-family: 'Georgia';
  font-size: 20px;
  position: relative;
  top: -4px;
}
