@import "variables";
@import "mixins";

//fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic,600italic,700italic);



@spacer: 10px;

@grau: rgb(107,112,117);
@hellgrau: rgb(192,192,192);
@weiss: rgb(245,245,245);

body{
  font-family: 'Source Sans Pro', sans-serif !important;
  color: @grau;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Georgia';
  text-transform: uppercase;
}

h2{
  font-size: 15px;
}

.border-top{
  border-top: 1px dotted @grau;
  padding-top: @spacer;
}




//media querry variables
@screen-xs-qry: ~"(min-width: @{screen-xs}) and (max-width: @{screen-xs-max})";
@screen-sm-qry: ~"(min-width: @{screen-sm}) and (max-width: @{screen-sm-max})";
@screen-md-qry: ~"(min-width: @{screen-md}) and (max-width: @{screen-md-max})";
@screen-lg-qry: ~"(min-width: @{screen-lg})";
@screen-sm-up-qry: ~"(min-width: @{screen-sm})";
