@import "variables";
@import "mixins";
@import "base";


.navigation{
  padding-top: 20px;

  @media @screen-sm-up-qry {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-toggle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: @spacer;
  }

  a{
    color: @weiss;
    font-weight: 300;
    letter-spacing: 0.02em;
    display: block;
    text-align: left;
    @media @screen-sm-up-qry {
      padding: 0;
    }
  }

  ul{
    &.nav-justified{
      position: relative;
      margin-bottom: 0;
      display: none;
      @media @screen-sm-up-qry {
        display: block;
      }


      > li{
        padding-top: 0;
        padding-bottom: 10px;
      }

      a{
        text-align: left;
      }


    }

    margin-left: 0;
    @media @screen-sm-up-qry {
      margin-left: -5px;
    }

    li{
      padding: 10px 0;
      display: block;
      @media @screen-sm-up-qry {
        display: table-cell;
        padding: 10px 5px;
      }

       &:hover{

         > .submenu{
           display: block;
         }
       }

      &.active{
        > a{
          font-weight: 400;
        }

        > .submenu{
          display: block;
        }

      }
      .submenu{
        display: none;

        .container{
          padding: 0;
          @media @screen-sm-up-qry{
            padding: 0 15px;
          }
        }

        @media @screen-sm-up-qry {
          position: fixed;
        }

        left: 0;
        width: 100%;
        background: @grau;
        margin-top: 10px;
        //padding: 10px 0;
        border-top: 1px solid @hellgrau;
        border-bottom: 1px solid @hellgrau;

        @media @screen-sm-up-qry {
          border-bottom: none;
        }

        a{
          padding: 0 15px;

          @media @screen-sm-up-qry {
            padding: 0;
          }
        }

        .submenu{
          color: @grau;
          //display: none;
          background: @hellgrau;


        }
      }
    }
  }
}