@import "variables";
@import "mixins";
@import "base";
@import "navigation";


header{
  background: @grau;
  color: @weiss;
  padding-top: 20px;

  .claim{
    text-transform: uppercase;
    color: @hellgrau;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
  }
}

.content{
  padding-top: 80px;

  //news list on frontpage
  ul.news{
    li{
      border-top: 1px dotted @grau;
      padding: @spacer 0;
    }
  }

  .table{
      tbody tr td {
        border: none;
        line-height: 20px;
      }

       span{
        font-family: 'Georgia';
        font-size: 20px;
         position: relative;
         top: -4px;
      }
  }

}